<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    
    <bean id="animal" class="vn.com.nguacon.springcore.beans.inheritance.Animal">
    	<property name="name" value="Animal"/>
    	<property name="color" value="Yellow"/>
    </bean>
    
    <bean id="cat" class="vn.com.nguacon.springcore.beans.inheritance.Cat" parent="animal">
    	<property name="name" value="Cat"/>
    </bean>
    
</beans>